<%
var articles
  , article;
%>
<h2>All previous posts</h2>
<%  for (var i = 0, ii = articles.length; i < ii; i++) {
    article = articles[i];
%>
  <div>
    <p>
    <% if (article.publishedAt) { %>
    <%- linkTo(article.title, articlePath.apply(null, article.permalinkParts())); %>
    (<%= geddy.date.strftime(article.publishedAt, '%F') %>)
    <% } else { %>
    <%- linkTo(article.title, articlePath(article.id + '/edit')); %>
    (Draft)
    <% } %>
    </p>
  </div>
<%  } %>

